[submodule "code/veld_code__udpipe"]
	path = code/veld_code__udpipe
	url = https://github.com/veldhub/veld_code__udpipe.git
[submodule "data/veld_data__demo_train_data_ts-vienna-2024"]
	path = data/veld_data__demo_train_data_ts-vienna-2024
	url = https://github.com/veldhub/veld_data__demo_train_data_ts-vienna-2024.git
