[submodule "veld_code_15_udpipe"]
	path = veld_code_15_udpipe
	url = https://github.com/acdh-oeaw/veld_code_15_udpipe.git
[submodule "veld_data__demo_models__ts-vienna-2024"]
	path = veld_data__demo_models__ts-vienna-2024
	url = https://github.com/acdh-oeaw/veld_data__demo_models__ts-vienna-2024.git
[submodule "veld_data__demo_training__ts-vienna-2024"]
	path = veld_data__demo_training__ts-vienna-2024
	url = https://github.com/acdh-oeaw/veld_data__demo_training__ts-vienna-2024.git
[submodule "veld_data__demo_eval__ts-vienna-2024"]
	path = veld_data__demo_eval__ts-vienna-2024
	url = https://github.com/acdh-oeaw/veld_data__demo_eval__ts-vienna-2024.git
[submodule "veld_data__demo_inferenced__ts-vienna-2024"]
	path = veld_data__demo_inferenced__ts-vienna-2024
	url = https://github.com/acdh-oeaw/veld_data__demo_inferenced__ts-vienna-2024.git
